.nur{
  align-items: center;
  justify-content: center;
  &__div{
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    display: flex;
    column-gap: 30px;
    &-img{
      max-width: 100%;

    }

  }
}